<div class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<img src="<%= bot.user.displayAvatarURL() %>">
		</div>
		<ul class="navs">
			<li class="nav-item"><a href="/commands">Commands</a></li>
			<li class="nav-item"><a href="/invite">Invite</a></li>
		</ul>
	</div>
</div>